<footer id="footer" class="footer-area pt-120">
    <div class="container">
        <div
            class="subscribe-area wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
        >
            <div class="row">
                <div class="col-lg-6">
                    <div class="subscribe-content mt-45">
                <h2 class="subscribe-title">
                    Feedback / Queries<span>Report Your Problems here <br> (With your Mail ID)</span>
                </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="subscribe-form mt-50">
                    <form action="#">
                        <input type="text" placeholder="Feedback/Queries" />
                        <button class="main-btn">Report</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- row -->
        </div>
      <!-- subscribe area -->
      <div class="footer-widget pb-100">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-8">
            <div
              class="footer-about mt-50 wow fadeIn"
              data-wow-duration="1s"
              data-wow-delay="0.2s"
            >
              <a class="logo" style="color: white; font-size: 40px; margin-bottom:0px;" href="javascript:void(0)" >
                Legacy'22
              </a>
              <p class="text">
                We provide a platform for students to showcase one's unique talents.<br>

                Powered by Fine Arts.<br>
                Email: mepcofiesta2022@gmail.com
              </p>
              <!-- <ul class="social">
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-facebook-filled"> </i>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-twitter-filled"> </i>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-instagram-filled"> </i>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-linkedin-original"> </i>
                  </a>
                </li>
              </ul> -->
            </div>
            <!-- footer about -->
          </div>
          <div class="col-lg-5 col-md-7 col-sm-12">
            <div class="footer-link d-flex mt-50 justify-content-sm-between">
              <div
                class="link-wrapper wow fadeIn"
                data-wow-duration="1s"
                data-wow-delay="0.4s"
              >
                <div class="footer-title">
                  <h4 class="title">Events</h4>
                </div>
                <ul class="link">
                  <li><a href='/event/0'>As You Like It</a></li>
                  <li><a href='/event/1'>Best Manager</a></li>
                  <li><a href='/event/3'>Solo Singing</a></li>
                  <li><a href='/event/2'>Solo Dance</a></li>
                  <li><a href='/event/4'>Solo Instrumental</a></li>
                  <li><a href='/event/5'>Pixie</a></li>
                  <li><a href='/event/6'>Pencil Sketching</a></li>
                  <li><a href='/event/7'>Yoga</a></li>
                  <li><a href='/event/8'>Eluthani</a></li>
                  <li><a href='/event/19'>Poster Making</a></li>

                </ul>
              </div>
              <!-- footer wrapper -->
              <div
                class="link-wrapper wow fadeIn"
                data-wow-duration="1s"
                data-wow-delay="0.6s"
              >

              <div class="footer-title">
                <h4 class="title"></h4>
              </div>
              <ul class="link">
                <br>
                <li><a href='/event/20'>Rangoli</a></li>
                <li><a href='/event/9'>Divide and Conquer</a></li>
                <li><a href='/event/11'>Monsters’ Muss</a></li>
                <li><a href='/event/10'>Treasure Hunt</a></li>
                <li><a href='/event/14'>Lyrical Hunt</a></li>
                <li><a href='/event/18'>Group Dance</a></li>
                <li><a href='/event/12'>Radio Mirchi</a></li>
                <li><a href='/event/13'>English Potpourri</a></li>
                <li><a href='/event/15'>Tamil Potpourri</a></li>
                <li><a href='/event/16'>Cinematrix (Short Flim)</a></li>
                <li><a href='/event/17'>Quizzards of Oz</a></li>
              </ul>
              </div>
              <!-- footer wrapper -->
            </div>
            
            <!-- footer link -->
          </div>
          <div class="col-lg-3 col-md-5 col-sm-12">
            
            
            <!-- footer contact -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- footer widget -->
      <div class="footer-copyright">
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright d-sm-flex justify-content-between">
              <div class="copyright-content">
                <p class="text">
                  Designed and Developed by
                  <a href="https://github.com/RamCS2001" rel="nofollow" Style="color: #FE7D74"></a>
                  <a href="https://github.com/Prama-karthick" rel="nofollow" Style="color: #FE7D74"></a>
                </p>
              </div>
              <!-- copyright content -->
            </div>
            <!-- copyright -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- footer copyright -->
    </div>
    <!-- container -->
    <div id="particles-2"></div>
</footer>