<section id="features" class="services-area pt-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="section-title text-center pb-40">
            <div class="line m-auto"></div>
            <h3 class="title">
              <span style="font-size: 20px;">Team Up!</span>
              <br>
              Day Two
            </h3>
          </div>
          <!-- section title -->
        </div>
      </div>
      <!-- row -->
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-1.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/23']">DRAMATICS</a>
              </h4>
              <p class="text">
                By Fine Arts
              </p>
              <a class="more" [routerLink]="['/event/23']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-2.svg"
                alt="shape"
              />
              <i class="lni lni-cog"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/24']">CINEMATRIX (SHORT FILM)</a>
              </h4>
              <p class="text">
                By 
              </p>
              <a class="more" [routerLink]="['/event/24']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-3.svg"
                alt="shape"
              />
              <i class="lni lni-bolt-alt"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/25']">LIPHOMANIAC (SPELL BEE)</a>
              </h4>
              <p class="text">
                By 
              </p>
              <a class="more" [routerLink]="['/event/25']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
      </div>
      <!-- row -->



      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-1.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/7']">YOGA</a>
              </h4>
              <p class="text">
                By Health Club
              </p>
              <a class="more" [routerLink]="['/event/7']"
                >Participate  <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-2.svg"
                alt="shape"
              />
              <i class="lni lni-cog"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/8']">DEBATE GURU</a>
              </h4>
              <p class="text">
                By Literary Club
              </p>
              <a class="more" [routerLink]="['/event/8']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-3.svg"
                alt="shape"
              />
              <i class="lni lni-bolt-alt"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/26']">EXPRESSIONS <br> (FACE PAINTING)
                </a>
              </h4>
              <p class="text">
                By 
              </p>
              <a class="more" [routerLink]="['/event/26']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
      </div>
      <!-- row -->



      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-1.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/27']">TREASURE HUNT</a>
              </h4>
              <p class="text">
                By Innovative Club
              </p>
              <a class="more" [routerLink]="['/event/27']"
                >Participate  <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-2.svg"
                alt="shape"
              />
              <i class="lni lni-cog"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/9']">MAKE YOUR MOVE <br> (Solo Dance)</a>
              </h4>
              <p class="text">
                By Fine Arts
              </p>
              <a class="more" [routerLink]="['/event/9']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-3.svg"
                alt="shape"
              />
              <i class="lni lni-bolt-alt"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/10']">EXTEMPORE</a>
              </h4>
              <p class="text">
                By 
              </p>
              <a class="more" [routerLink]="['/event/10']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
      </div>
      <!-- row -->


      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-1.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/28']">WAR WITH WORDS</a>
              </h4>
              <p class="text">
                By 
              </p>
              <a class="more" [routerLink]="['/event/28']"
                >Participate  <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-2.svg"
                alt="shape"
              />
              <i class="lni lni-cog"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/29']">மறுவார்த்தை (Translation)</a>
              </h4>
              <p class="text">
                By Literary Club
              </p>
              <a class="more" [routerLink]="['/event/29']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-3.svg"
                alt="shape"
              />
              <i class="lni lni-bolt-alt"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/11']">PENCIL SKETCHING

                </a>
              </h4>
              <p class="text">
                By Fine arts
              </p>
              <a class="more" [routerLink]="['/event/11']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-3.svg"
                alt="shape"
              />
              <i class="lni lni-bolt-alt"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/30']">LYRICAL HUNT
                </a>
              </h4>
              <p class="text">
                By Literary Club
              </p>
              <a class="more" [routerLink]="['/event/30']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
      </div>
        
    </div>
    <!-- container -->
  </section>