<div class="container mt-40">
    <a class="btn btn-primary" [routerLink]="['/admin']">
        Go Back To Admin page
    </a>
    <button class="btn btn-primary" style="float: right;" (click)="exportToExcel()">
        <i class="fa-solid fa-file-export"></i> Export to Excel
    </button>
    <div style="float: right; margin-right:50px;"  class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Apply filter
        </button>
        <ul class="dropdown-menu" ngModel="check">
          <li><button (click)="enableSearchByGender()" class="dropdown-item" >Filter by gender</button></li>
          <li><button (click)="enableSearchByCollege()" class="dropdown-item" >Filter by college</button></li>
          <li><button (click)="enableSearchByPayment()" class="dropdown-item" >Filter by Payment Status</button></li>
          <li><button (click)="enableSearchByAccommodation()" class="dropdown-item" >Filter by Accommodation Status</button></li>  
        </ul>
      </div>
    </div>
    <div *ngIf="searchCollege" style="float: right; margin-right: 54px; margin-top: 10px" class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            select college name
        </button>
        <ul  class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let name of colleges" style="cursor:pointer;" (click)="clickedCollege(name)" class="dropdown-item" value="mepco">{{name}}<li>
        </ul>
    </div>
    <div *ngIf="searchGender" style="float: right; margin-right: 50px; margin-top: 10px">
        <div *ngFor="let gender of genders" class="form-check">
            <input (click)="clickedGender(gender)" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              {{gender}}
            </label>
        </div>
    </div>
    <div *ngIf="searchPayment" style="float: right; margin-right: 50px; margin-top: 10px">
        <div *ngFor="let i of payment" class="form-check">
            <input (click)="clickedPayment(i)" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              {{i}}
            </label>
        </div>
    </div>
    <div *ngIf="searchAccommodation" style="float: right; margin-right: 50px; margin-top: 10px">
        <div *ngFor="let i of accpayment" class="form-check">
            <input (click)="clickedAccPayment(i)" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              {{i}}
            </label>
        </div>
    </div>
    <button (click)="disableFilter()" *ngIf="searchGender || searchCollege || searchPayment || searchAccommodation" class="btn btn-danger" style="float: right; margin-top: 10px; margin-right: 10px" >
       <i class="fa-solid fa-xmark"></i>
    </button>
    <div style="margin-left:20px" class="d-flex justify-content-start mt-20">
        <h5>Number Of Participants/Teams: {{eventCount}}</h5>
    </div>
<div style="margin-top:60px" class="container mt-20">
    <div class="d-flex justify-content-center">
        <h1>
            {{eventName}}
        </h1>
    </div>
    <div class="d-flex justify-content-center">
        <p>
           USE ctrl+F to Search Participants By Admission Number/ Roll Number 
        </p>
    </div>
</div>
<div class="container mt-20">
    <div class="table-responsive" *ngIf="individualList">
        <table class="table table-hover table-condensed table-striped" id="participantsTable">
            <thead>
                <tr>
                  <th *ngFor="let heading of headers" >{{heading}}</th>
                </tr>
              </thead>
            <tbody>
                <tr *ngFor="let participant of filteredDetails; let index = index">
                    <td>
                        {{participant["name"]}}
                    </td>
                    <td>
                        {{participant["gender"]}}
                    </td>
                    <td>
                        {{participant["college"]}}
                    </td>
                    <td>
                        {{participant["email"]}}
                    </td>
                    <td>
                        {{participant["phone_number"]}}
                    </td>
                    <td>
                        {{participant["year"]}}
                    </td>
                    <td>
                        {{participant["degree"]}}
                    </td>
                    <td>
                        {{participant["department"]}}
                    </td>
                    <td>
                        {{participant["regFeesPayment"]}}
                    </td>
                    <td>
                        {{participant["accommodationFeesPayment"]}}
                    </td>
                    <td>
                        {{participant["dayoneAccomodation"]}}
                    </td>
                    <td>
                        {{participant["daytwoAccomodation"]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive" *ngIf="GroupList">
        <table class="table table-hover table-condensed table-striped" id="participantsTable">
            <thead>
                <tr>
                  <th *ngFor="let heading of headers" >{{heading}}</th>
                </tr>
              </thead>
            <tbody>
                <ng-container *ngFor="let i of data; let index = index">
                    <tr>
                        <h6>Team Name: {{teamNames[index]}}</h6>
                    </tr>
                    <tr *ngFor="let j of data[index]">
                        <td *ngFor="let c of feilds">
                            {{j[c]}}
                        </td>
                    </tr>
                </ng-container>

            </tbody>
        </table>
    </div>
</div>

<div *ngIf="error">
    <h1>
        ERROR!! Contact Admin
    </h1>
</div>
