<div class="d-flex justify-content-center align-items-center" style="height: 650px; font-size: 30px" *ngIf="unauthorizedMsg">
    {{notAdmin}}
</div>  

<div *ngIf="authorizedMsg">
  <div class="container mt-40">
    <button class="btn btn-primary" (click)="logout()">
        Logout
    </button>

    <a [routerLink]="['/list/31']" class="btn btn-primary" style="float: right;">
      All Participants
    </a>

  </div>
  
  <section class="section-padding mt-60">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">
                Individual Events
              </h1>
              <!-- <p class="wow fadeInDown" data-wow-delay="0.2s">All Events</p> -->
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-hover table-condensed table-striped">
              <thead>
                <tr>
                  <th class="d-flex justify-content-center">S.NO</th>
                  <th>Event Name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="d-flex justify-content-center">1</td>
                  <td><a [routerLink]="['/list/0']">நீயா நானா?</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">2</td>
                  <td><a [routerLink]="['/list/1']">MARTIAL ARTS</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">3</td>
                  <td><a [routerLink]="['/list/2']">BEST MANAGER</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">4</td>
                  <td><a [routerLink]="['/list/3']">VOICE OF LEGACY</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">5</td>
                  <td><a [routerLink]="['/list/4']">MUSIC UNPLUGGED</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">6</td>
                  <td><a [routerLink]="['/list/5']">கவித்திடல்</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">7</td>
                  <td><a [routerLink]="['/list/6']">PIXIE</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">8</td>
                  <td><a [routerLink]="['/list/7']">Yoga</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">9</td>
                  <td><a [routerLink]="['/list/8']">Debate Guru</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">9</td>
                  <td><a [routerLink]="['/list/9']">MAKE YOUR MOVE</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">9</td>
                  <td><a [routerLink]="['/list/10']">EXTEMPORE</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">9</td>
                  <td><a [routerLink]="['/list/11']">PENCIL SKETCHING</a></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <section class="section-padding mt-40">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">
                Group Events
              </h1>
              <!-- <p class="wow fadeInDown" data-wow-delay="0.2s">All Events</p> -->
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-hover table-condensed table-striped">
              <thead>
                <tr>
                  <th class="d-flex justify-content-center">S.NO</th>
                  <th>Event Name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="d-flex justify-content-center">1</td>
                  <td><a [routerLink]="['/list/12']">SYMPHONIQUE</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">2</td>
                  <td><a [routerLink]="['/list/13']">DIVIDE AND CONQUER</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">3</td>
                  <td><a [routerLink]="['/list/14']">Monsters’ Muss</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">4</td>
                  <td><a [routerLink]="['/list/15']">KALAKKAL KALATTA</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">5</td>
                  <td><a [routerLink]="['/list/16']">SHERLOCK HOLMES</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">6</td>
                  <td><a [routerLink]="['/list/17']">QUIZZARDS</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">7</td>
                  <td><a [routerLink]="['/list/18']">RANGOLI</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">8</td>
                  <td><a [routerLink]="['/list/19']">GRAPHIX</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">9</td>
                  <td><a [routerLink]="['/list/20']">CHOREO BOOM</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">10</td>
                  <td><a [routerLink]="['/list/21']">IDEA PRESENTATION</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">11</td>
                  <td><a [routerLink]="['/list/22']">MARKETOMANIA</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">12</td>
                  <td><a [routerLink]="['/list/23']">DRAMATICS</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">13</td>
                  <td><a [routerLink]="['/list/24']">CINEMATRIX</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">13</td>
                  <td><a [routerLink]="['/list/25']">LIPHOMANIAC</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">13</td>
                  <td><a [routerLink]="['/list/26']">EXPRESSIONS</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">13</td>
                  <td><a [routerLink]="['/list/27']">TREASURE HUNT</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">13</td>
                  <td><a [routerLink]="['/list/28']">WAR WITH WORDS</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">13</td>
                  <td><a [routerLink]="['/list/29']">மறுவார்த்தை</a></td>
                </tr>
                <tr>
                  <td class="d-flex justify-content-center">13</td>
                  <td><a [routerLink]="['/list/31']">LYRICAL HUNT</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    
</div>
