<section class="section-padding mt-2">
    <div class="container">
      <div class="row">
        <div class="col-12 p-2">
          <div class="section-title-header">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">
              Hey {{name}}!
            </h2>
            <p class="wow fadeInDown mt-2" data-wow-delay="0.2s">
              Congrats, You have registered for Legacy 2022.
            </p>
            <div class="container">
              <div class="row">
                <div class="table-responsive">
                  <table class="table mt-3">
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td>{{name}}</td>
                      </tr>
                      <tr>
                        <td>College Name</td>
                        <td>{{clg}}</td>
                      </tr>
                      <tr>
                        <td>Class</td>
                        <td>
                          {{class}}
                        </td>
                      </tr>
                      <tr>
                        <td>Mail ID</td>
                        <td>{{mail}}</td>
                      </tr>
                      <tr>
                        <td>Phone Number</td>
                        <td>{{phoneNo}}</td>
                      </tr>
                      <tr>
                        <td>Your Events</td>
                        <td>{{yourEvents}}</td>
                      </tr>
                      <tr>
                        <td >Pay Registeration Fee: </td>
                        <td >
                          <div class="row">
                            <div class="col-4">
                              <input readonly class="form-control" [value]="total_fee" />
                              <div class="alert alert-light" role="alert">
                                registration fee: 300  <span *ngIf="yesChecked"> + Day One accomodation fee: 125</span><span *ngIf="numDays"> + Day Two accomodation fee: 125</span>
                              </div>
                            </div>
                            <div class="col-4">
                              <button (click)="pay()" class="btn btn-primary" [disabled]="regPaid && (total_fee == 0)">pay</button>
                              <br><span style="color: red; margin-top: 10px">
                                {{paidText}}
                              </span>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Do you Need Accomadation:</td>
                          <td>
                            <form [formGroup]="accomadationForm">
                              <input type="radio" style="margin-right: 5px;" name="accomadation" value="yes" [checked]="yesRadioChecked" id="yesRadio" [disabled]="yesDisable" (click)="accomodationSelected()"/>Yes
                              <input (click)="accomodationNotSelected()" type="radio" [checked]="noRadioChecked" style="margin-right: 5px; margin-left: 5px;" [disabled]="noDisable" name="accomadation" value="no" id="noRadio"/>No
                              <button style="margin-left:10px" class="btn btn-primary" (click)="clearOption()">Clear</button>                            
                            </form>
                             <span style="color: red">
                              {{accMessage}}
                            </span>
                            </td>
                      </tr>
                      <tr *ngIf="yesChecked">
                        <td>Number of Days Accomadation Needed :</td>
                          <td>
                            <form [formGroup]="accomadationForm">
                              <input type="radio" style="margin-right: 5px;" name="accomadation" value="1" [checked]="yesRadioChecked" id="yesRadio" [disabled]="yesDisable" (click)="numOneAccomodationSelected()"/>1
                              <input (click)="numTwoAccomodationSelected()" type="radio" [checked]="noRadioChecked" style="margin-right: 5px; margin-left: 5px;" [disabled]="noDisable" name="accomadation" value="no" id="noRadio"/>2
                              <button style="margin-left:10px" class="btn btn-primary" (click)="numClearOption()">Clear</button>                            
                            </form>
                              
                             <span style="color: red">
                              {{accMessage}}
                            </span>
                            </td>
                      </tr>
                      <!-- <tr>
                        <td>Pay Accomadation Fee:</td>
                        <td>
                          <div class="row">
                            <div class="col-4">
                              <input readonly class="form-control" value="100" >
                            </div>
                            <div class="col-4">
                              <button class="btn btn-primary" [disabled]="">pay</button>
                            </div>
                          </div>
                        </td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <a class="main-btn mb-3" [routerLink]="['/']">Go Home</a><br>
            <a class="main-btn" (click)="logout()">Logout Here</a>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
</section>

<app-footer></app-footer>