<section class="section-padding mt-90">
    <div class="container">
      <div class="row">
        <div class="col-12 p-2">
          <div class="section-title-header">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">
              Hey {{name}}!
            </h1>
            <p class="wow fadeInDown mt-2" data-wow-delay="0.2s">
              Congrats, You have registered for Legacy 2022.
            </p>
            <div class="container">
              <div class="row">
                <div class="table-responsive">
                  <table class="table mt-3">
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td>{{name}}</td>
                      </tr>
                      <tr>
                        <td>Class</td>
                        <td>
                          {{class}}
                        </td>
                      </tr>
                      <tr>
                        <td>Roll Number</td>
                        <td>{{rollno}}</td>
                      </tr>
                      <tr>
                        <td>Admission Number</td>
                        <td>{{adminno}} </td>
                      </tr>
                      <tr>
                        <td>Mail ID</td>
                        <td>{{mail}}</td>
                      </tr>
                      <tr>
                        <td>Your Events</td>
                        <td>{{yourEvents}}</td>
                      </tr>
                      <tr>
                        <td>Pay Registeration Fee: </td>
                        <td>
                          <div class="row">
                            <div class="col-4">
                              <input readonly class="form-control" value="200" >
                            </div>
                            <div class="col-4">
                              <button class="btn btn-primary" [disabled]="paid">pay</button>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Do you Need Accomadation:</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Pay Accomadation Fee:</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <a class="main-btn mb-3" [routerLink]="['/']">Go Home</a><br>
            <a class="main-btn" (click)="logout()">Logout Here</a>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
</section>

<app-footer></app-footer>