<section id="features" class="services-area pt-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="section-title text-center pb-40">
            <div class="line m-auto"></div>
            <h3 class="title">
              <span style="font-size: 20px;">ALL EVENTS</span>
              <br>
              DAY ONE
            </h3>
          </div>
          <!-- section title -->
        </div>
      </div>
      <!-- row -->
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-1.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/12']">SYMPHONIQUE </a>
              </h4>
              <p class="text">
                By Fine Arts
              </p>
              <a [routerLink]="['/event/12']" class="more"
                >Participate <i class="lni lni-chevron-right"> </i>
            </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-2.svg"
                alt="shape"
              />
              <i class="lni lni-cog"> </i>
            </div>       
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/0']">நீயா நானா? </a>
              </h4>
              <p class="text">
                By Literary Club
              </p>
              <a class="more" [routerLink]="['/event/0']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-3.svg"
                alt="shape"
              />
              <i class="lni lni-bolt-alt"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/13']">DIVIDE AND CONQUER</a>
              </h4>
              <p class="text">
                By Reader's Club
              </p>
              <a class="more" [routerLink]="['/event/13']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
      </div>
      <!-- row -->



      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-1.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/14']">MONSTERS’ MUSS</a>
              </h4>
              <p class="text">
                By Blue Sky
              </p>
              <a class="more" [routerLink]="['/event/14']"
                >Participate  <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-2.svg"
                alt="shape"
              />
              <i class="lni lni-cog"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/1']">MARTIAL ARTS</a>
              </h4>
              <p class="text">
                By Health Club
              </p>
              <a class="more" [routerLink]="['/event/1']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-3.svg"
                alt="shape"
              />
              <i class="lni lni-bolt-alt"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/15']">KALAKKAL KALATTA</a>
              </h4>
              <p class="text">
                By 
              </p>
              <a class="more" [routerLink]="['/event/15']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
      </div>
      <!-- row -->



      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-1.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/16']">SHERLOCK HOLMES</a>
              </h4>
              <p class="text">
                By 
              </p>
              <a class="more" [routerLink]="['/event/16']"
                >Participate  <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-2.svg"
                alt="shape"
              />
              <i class="lni lni-bolt-alt"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/17']">QUIZZARDS (QUIZ)</a>
              </h4>
              <p class="text">
                By 
              </p>
              <a class="more" [routerLink]="['/event/17']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>


        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-3.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/2']">BEST MANAGER </a>
              </h4>
              <p class="text">
                By 
              </p>
              <a class="more" [routerLink]="['/event/2']"
                >Participate  <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
      </div>
      <!-- row -->


      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-1.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/18']">RANGOLI</a>
              </h4>
              <p class="text">
                By 
              </p>
              <a class="more" [routerLink]="['/event/18']"
                >Participate  <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-2.svg"
                alt="shape"
              />
              <i class="lni lni-bolt-alt"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/19']">GRAPHIX (TRAILER TIME)</a>
              </h4>
              <p class="text">
                By 
              </p>
              <a class="more" [routerLink]="['/event/19']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>


        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-3.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/20']">CHOREO BOOM <br> (Group Dance)</a>
              </h4>
              <p class="text">
                By Fine Arts
              </p>
              <a class="more" [routerLink]="['/event/20']"
                >Participate  <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
      </div>
      <!-- row -->


      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-1.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/3']">VOICE OF LEGACY <br> (Solo singing)</a>
              </h4>
              <p class="text">
                By Fine Arts
              </p>
              <a class="more" [routerLink]="['/event/3']"
                >Participate  <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-2.svg"
                alt="shape"
              />
              <i class="lni lni-bolt-alt"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/4']">MUSIC UNPLUGGED  <br>(Solo Instrumental)</a>
              </h4>
              <p class="text">
                By Fine Arts
              </p>
              <a class="more" [routerLink]="['/event/4']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>


        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-3.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/21']">IDEA PRESENTATION</a>
              </h4>
              <p class="text">
                By Club Innovative 
              </p>
              <a class="more" [routerLink]="['/event/21']"
                >Participate  <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
      </div>
      <!-- row -->


      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-1.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/22']">MARKETOMANIA</a>
              </h4>
              <p class="text">
                By 
              </p>
              <a class="more" [routerLink]="['/event/22']"
                >Participate  <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-2.svg"
                alt="shape"
              />
              <i class="lni lni-bolt-alt"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/5']">கவித்திடல்</a>
              </h4>
              <p class="text">
                By Literary Club
              </p>
              <a class="more" [routerLink]="['/event/5']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>


        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-3.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/6']">PIXIE (PHOTO CONTEST)
                </a>
              </h4>
              <p class="text">
                By Photography Club
              </p>
              <a class="more" [routerLink]="['/event/6']"
                >Participate  <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </section>
