<section id="features" class="services-area pt-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="section-title text-center pb-40">
            <div class="line m-auto"></div>
            <h3 class="title">
              <span style="font-size: 20px;">ALL EVENTS</span>
              <br>
              Individual Events
            </h3>
          </div>
          <!-- section title -->
        </div>
      </div>
      <!-- row -->
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-1.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/0']">As You Like It</a>
              </h4>
              <p class="text">
                By Fine Arts
              </p>
              <a [routerLink]="['/event/0']" class="more"
                >Participate <i class="lni lni-chevron-right"> </i>
            </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-2.svg"
                alt="shape"
              />
              <i class="lni lni-cog"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/1']">Best Manager</a>
              </h4>
              <p class="text">
                By Consumer Club
              </p>
              <a class="more" [routerLink]="['/event/1']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-3.svg"
                alt="shape"
              />
              <i class="lni lni-bolt-alt"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/2']">Solo Dance</a>
              </h4>
              <p class="text">
                By Fine Arts
              </p>
              <a class="more" [routerLink]="['/event/2']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
      </div>
      <!-- row -->



      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-1.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/3']">Solo Singing</a>
              </h4>
              <p class="text">
                By Fine Arts
              </p>
              <a class="more" [routerLink]="['/event/3']"
                >Participate  <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-2.svg"
                alt="shape"
              />
              <i class="lni lni-cog"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/4']">Solo Instrumental</a>
              </h4>
              <p class="text">
                By Fine Arts
              </p>
              <a class="more" [routerLink]="['/event/4']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-3.svg"
                alt="shape"
              />
              <i class="lni lni-bolt-alt"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/5']">Pixie</a>
              </h4>
              <p class="text">
                By Photography Club
              </p>
              <a class="more" [routerLink]="['/event/5']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
      </div>
      <!-- row -->



      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-1.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/6']">Pencil Sketching</a>
              </h4>
              <p class="text">
                By NSS
              </p>
              <a class="more" [routerLink]="['/event/6']"
                >Participate  <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-3.svg"
                alt="shape"
              />
              <i class="lni lni-bolt-alt"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/7']">Yoga</a>
              </h4>
              <p class="text">
                By Health Club
              </p>
              <a class="more" [routerLink]="['/event/7']"
                >Participate <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>


        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="assets/images/services/services-shape.svg"
                alt="shape"
              />
              <img
                class="shape-1"
                src="assets/images/services/services-shape-1.svg"
                alt="shape"
              />
              <i class="lni lni-baloon"> </i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a [routerLink]="['/event/8']">Ezhuthaani</a>
              </h4>
              <p class="text">
                By Literary Club
              </p>
              <a class="more" [routerLink]="['/event/8']"
                >Participate  <i class="lni lni-chevron-right"> </i>
              </a>
            </div>
          </div>
          <!-- single services -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </section>
